.App {
  text-align: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.principal-container{
  background-color: ghostwhite;
  width: 80%;
  height: 80%;
  max-width: 80%;
  max-height: 80%;
  border-radius: 15px;
  position: relative;
}

.table-container{
  width: 100%;
}
.title-container{
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
}

.button-add{
  background-color: #282c34;
  padding: 20px;
  color: white;
  border-radius: 30px;
  font-weight: 700;
  font-size: 20px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  border: none;
  transition: .5s;
}

.button-add:hover{
  transform: scale(1.3);
}

.ul-container{
  list-style-type: none;
  text-align: center;
}

.back-button{
  color: black;
  position: absolute;
  top: 20px;
  left: 15px;
  font-size: 25px;
  font-weight: 700;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.columnas-arrastrables {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding: 15px;
}

.columna {
  width: 30%;
  background-color: #f2f2f2;
  padding: 8px;
  border-radius: 4px;
  max-height: 450px;
  overflow-y: scroll;
}

.columna h2 {
  margin-top: 0;
}


.card-title-container{
  display: flex;
  background-color: rgba(0, 0, 0, 0);
}

.card-title-container h3{
  width: 70%;
}

.btns-container{
  display: flex;
  align-items: center;
}

.btn-editar{
  border: none;
  color: white;
  background-color: #d4a200;
  height: 50%;
  border-radius: 15px;
  padding: 5px 12px 5px 12px;
  cursor: pointer;
  margin-right: 5px;
}

.btn-editar:hover{
  background-color: #f3c83d;
}


.btn-eliminar{
  border: none;
  color: white;
  background-color: #a71818;
  height: 50%;
  border-radius: 15px;
  padding: 5px 12px 5px 12px;
  cursor: pointer;
  margin-right: 5px;
}

.btn-eliminar:hover{
  background-color: #f43636;
}

.form-title-input{
  margin-bottom: 15px;
}

.form-title-input label{
  font-size: 20px;
  font-weight: 600;
  margin-right: 5px;
}

.card{
  background-color: #282c34;
  list-style: none;
  padding: 2px;
  color: white;
  margin-bottom: 5px;
  border-radius: 10px;
  width: 100%;
}

.title-input{
  padding: 10px;
  border-radius: 20px;
  font-family: monospace;
  border: solid;
  border-color: gray;
}

.form-description-input{
  margin-bottom: 10px;
}

.form-description-input label{
  font-size: 20px;
  font-weight: 600;
  margin-right: 5px;
  margin-bottom: 5px;

}

.form-submit{
  padding: 10px 20px 10px 20px;
  background-color: #282c34;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.form-submit:hover{
  background-color: #3f444e;
}

.decription-input{
  padding: 10px;
  border-radius: 20px;
  font-family: monospace;
  border: solid;
  border-color: gray;
  width: 30%;
}

.columna div {
  min-height: 50px;
}


@media (max-width: 767px) {
  .columnas-arrastrables{
    display: block;
  }
  .columna{
    width: 90%;
    margin-bottom: 16px;
  }

  .button-add{
    top: 10px;
    bottom: auto;
    right: 10px;
    border-radius: 50%;

  }

  .ul-container{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 15px;
  }

  .card{
    margin-right: 10px;
  }

  .principal-container{
    overflow-y: scroll;
  }

  .card-title-container{
    display: block;
  }
  .card-title-container h3{
    width: 100%;
  }
  .btns-container{
    width: 100%;
    justify-content: center;
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
